# Binaries
bin/Debug_x64
bin/Debug_x64_tmp
bin/Release_x64
bin/Release_x64_tmp

# Visual Studio files and folder
.vs/
**.vcxproj.user
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

# Log files
**.log

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Bruno files
**.bruno

# Exceptions
